.movies-card-list {
  width: 100%;
  max-width: calc(100% - 140px);
  border-top: 1px solid #424242;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}
.movies-card-list__container {
  padding-bottom: 28px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-auto-rows: min-content;
  justify-content: center;
  gap: 59px 30px;
}
.movies-card-list__button {
  margin: 50px auto 80px;
  padding: 0;
  width: 320px;
  height: 36px;
  border: 1px solid #424242;
  border-radius: 6px;
  background: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  transition: opacity 0.4s ease-in-out;
}
.movies-card-list__button:hover {
  opacity: 0.8;
}
