.header {
  box-sizing: border-box;
  width: 100%;
  min-height: 74px;
  max-width: 1280px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__buttons {
  display: flex;
  column-gap: 30px;
}
.header__button_type_signup {
  padding: 0;
  background: none;
  border: none;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
.header__button_type_signin {
  padding: 8px 20px;
  border: none;
  border-radius: 3px;
  background: #3ddc84;
  color: #000;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
