.register {
  width: 100%;
  max-width: 396px;
  display: flex;
  flex-direction: column;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
}
.register__title {
  margin: 1px 0 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
}
.register__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.register__form-field {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.register__form-label {
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
}
.register__form-input {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: #2f2f2f;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}
.register__form-submit {
  cursor: pointer;
  margin-top: 71px;
  padding: 13px 0 15px;
  border: none;
  border-radius: 3px;
  background: #4285f4;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}
.register__link-container {
  align-self: center;
  margin-top: 16px;
  display: flex;
  column-gap: 6px;
}
.register__link-description {
  margin: 0;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.register__link {
  text-decoration: none;
  color: #4285f4;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
